<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>{{ escape(handler.settings["title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css"/>
    {% block head %}{% end %}
  </head>
  <body>
    <div id="body">
      <div id="header">
      	<div style="float:right;">
      		<form method="get" action="/search/" id='search'>
      			<input type='text' autofocus placeholder='Search for characters' name='q' />
      			<input type='submit' value='go' />
      		</form>
      	</div>
        <h1><a href="/">{{ escape(handler.settings["title"]) }}</a></h1>
      </div>
      <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
    
    <script type="text/javascript" src="{{ static_url("jquery-1.6.2.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("jquery.form.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("app.js") }}"></script>
  </body>
</html>
