{% extends "base.html" %}

{% block body %}
<div id='char-container' class='clearfix'>
<div id='char-sidebar'>
	<h2>{{ escape(char.na1) }}</h2>
	<table>
		<tr><td>Hex</td><td>{{ escape(char.cf) }}</td></tr>
		<tr><td>Decimal</td><td>{{ escape(char.cf) }}</td></tr>
	</table>
	
</div>
<div id='char-main'>
	<div id='char-links'>
		<a href='#'>Similar symbols</a> 
		<label>Color <input id='color' type="text" value="#C00" /></label>
	</div>
	<div id='char-main-inner'>
		<table class='small-previews2'>
			<tr>	
				<th></th>
				{% for f in handler.settings["fonts"] %}
					<th>{{ f[0] }}</th>
				{% end for %}
			</tr>
			<tr>
				<td class='font-type'>Normal</td>
				{% for f in handler.settings["fonts"] %}
					<td class='{{ f[1] }}'>{{ "&#x" + char.cf + ";" }}</td> 
				{% end for %}
			</tr>
			<tr class='bold'>
				<td class='font-type'>Bold</td>
				{% for f in handler.settings["fonts"] %}
					<td class='{{ f[1] }}'>{{ "&#x" + char.cf + ";" }}</td> 
				{% end for %}
			</tr>
			<tr class='italic'>
				<td class='font-type'>Italic</td>
				{% for f in handler.settings["fonts"] %}
					<td class='{{ f[1] }}'>{{ "&#x" + char.cf + ";" }}</td> 
				{% end for %}
			</tr>
		</table>
	
	<div class='big-preview'>
		{{ "&#x" + char.cf + ";" }}
	</div>
</div>
</div>
{% end %}